* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #101630;
}

.main {
    color: white;
    align-items: center;
    margin: 0 auto;
    min-height: 70vh;
    padding: 5rem 0 0 0;
    position: relative;
}

.menu-icono {
    width: 4rem;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    color: white;
}

#información {
    color: red;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 1.8rem;
    padding: 2rem;
    color: white;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: aqua;
}

#menu {
    display: none;
}   

.menu-icono {
    display: none;
}

.menu label {
    display: none;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    padding: 5rem 0 0 0;
}

.header-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header-text {
    flex-basis: 50%;
    color: white;
    align-items: center;
    text-align: center;
    padding: 3rem;
    position: relative;
    width: 50vh;
}
.header-text h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.header-text span {
    font-size: 3rem;
}

.header-text a {
    font-size: 1.6rem;
    margin: 1.5rem 0;
    line-height: 1.5;
}

#curriculum {
    color: white;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    border: green 0.2rem solid;
    padding: 3rem;
    align-items: center;
    margin-bottom: 6rem;
}

.sobremi,
.aptitudes,
.formacion {
    color: white;
    margin-bottom: 5rem;
    text-align: justify;
}

.formacion.container {
    color: white;
}

.header-content.container {
    width: 40rem; 
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(Sin-título-1.jpg);
    position: relative;
}
