* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.main {
    color: white;
    align-items: center;
    color: white;
    margin: 0 auto;
    min-height: 70vh;
    padding: 50px 0 0 0;
    position: relative;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #101630;
}

.menu-icono {
    width: 40px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

#información {
    color: red;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: aqua;
}

#menu {
    display: none;
}   

.menu-icono {
    display: none;
}

.menu label {
    display: none;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 50px 0 0 0;
}
.header-content {
    display: flex;
    flex: 1;
}

.header-text {
    flex-basis: 50%;
    color: white;
}

#curriculum {
    color: white;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    border: green 2px solid;
    padding: 30px;
    align-items: center;
    margin-bottom: 60px;
}

.sobremi {
    color: white;
}


.sobremi {
    margin-bottom: 50px;
    text-align: justify;
}

.aptitudes {
    margin-bottom: 50px;
    text-align: justify;
}

.formacion {
    margin-bottom: 50px;
    text-align: justify;
}
.formacion.container {
    color: white;
}

.header-content.container {
    width: 400px; 
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-image: url(Sin-título-1.jpg);
    position: relative;
}

.header-text {
    padding: 30px;
    position: absolute;
}

